# This file may be used to create an environment using:
# $ conda create --name <env> --file requirements.txt -c conda-forge -c pytorch
# platform: linux-64
# python 3.9.7
cvxopt=1.3.0=py39h751e006_1
datasets=2.0.0=pyhd8ed1ab_0
numpy=1.21.2=py39h20f2e39_0
numpy-base=1.21.2=py39h79a1101_0
pandas=1.3.1=py39hde0f152_0
pytorch=1.11.0=py3.9_cuda11.3_cudnn8.2.0_0
scikit-learn=1.0.2=py39h51133e4_1
scipy=1.8.0=py39hee8e79c_1
transformers=4.15.0=pyhd8ed1ab_0
